body {
    scroll-behavior: smooth;
    margin: 10px;
    border-style: solid;
    border-radius: 10px;
    padding: 20px;
    font-family: cursor, monospace;
    color: aliceblue;
    font-size: 18px;
    background-color: #2b2f34;
}

a{
    color: #73ABAD;
    text-shadow: 0 0 5px #73ABAD;
}

/* for when help has to print commands and their description */
.command {
    /* cursor: text;
    height: 50px; */
    width: 100px;
    color: #73ABAD;
    text-shadow: 0 0 5px #73ABAD;
}

.input{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.input .arrow{
    display: block;
}
.input .box{
    display: flex;
    width: 100%;
}

#inputtext{
    border: solid;
    border-radius: 5px;
    /* box-shadow: 0 0 5px aliceblue; */
    background-color: transparent;
    font-family: cursor, monospace;
    color: aliceblue;
    font-size: 16px;
    width: 100%;
    padding: 10px;
}
#inputtext:focus{
    /* border: 0px; */
    outline: none;
}
