body {
    scroll-behavior: smooth;
    margin: 10px;
    border-style: solid;
    border-radius: 10px;
    padding: 20px;
    font-family: cursor, monospace;
    color: aliceblue;
    font-size: 18px;
    background-color: #2b2f34;
}

a{
    color: #73ABAD;
    text-shadow: 0 0 5px #73ABAD;
}

/* for when help has to print commands and their description */
.command {
    /* cursor: text;
    height: 50px; */
    width: 100px;
    color: #73ABAD;
    text-shadow: 0 0 5px #73ABAD;
}

.input-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.input-wrapper .arrow{
    display: block;
}
.input-wrapper .box{
    display: flex;
    width: 100%;
}

#inputtext{
    border: solid;
    border-radius: 5px;
    /* box-shadow: 0 0 5px aliceblue; */
    background-color: transparent;
    font-family: cursor, monospace;
    color: aliceblue;
    font-size: 16px;
    width: 100%;
    padding: 10px;
}
#inputtext:focus{
    /* border: 0px; */
    outline: none;
}
#inputtext::placeholder{
    color: slategray;
}

/* *************suggestion************* */
.input-wrapper {
    position: relative;
    width: 100%;
}
#inputtext {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    box-sizing: border-box;
    background: transparent;
    position: relative;
    z-index: 2;
    color: white;
}
#terminal-suggestion {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    box-sizing: border-box;
    color: slategray;
    position: absolute;
    top: 3px;
    left: 25px;
    pointer-events: none;
    z-index: 1;
}
#terminal {
    position: relative;
    width: 100%;
}